<div class="container">
  <h1>About</h1>
    <p>A simple <a href="https://github.com/lionffl/railsfriends" target="_blank">app</a> running on rails.</p>
  <h3>Features</h3>
    <ul>
      <li>Create, update and delete an user.</li>
      <li>Open and end user sessions, add, update and delete friends</li>
  </div>